
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="height: 100px; width: 800px">
    <div class="container-fluid" style="text-align: left; border : dotted">
        <div class="col-sm-6">
            col1
        </div>
        <div class="col-sm-6" style="text-align: right ; border : dotted">
            <div class="col-sm-4">
                col2
            </div>
            <div class="col-sm-4">
                col3
            </div>
            <div class="col-sm-4">
                col4
            </div>
        </div>

    </div>
    
</div>
